/* Frappe Theme */

:root {
  --text-color: #c6d0f5;
  --text-secondary-color: #8CAAEE;
  --text-background-color: #B5BFE2;
  --prompt-color: #EA999C;
  --url-color: #f2d5cf;
  --selection-color: #626880;
  --active-border-color: #babbf1;
  --background-color: #303446;
  --font-family: 'IBM Plex Mono', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  background: var(--background-color);
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--text-color);
}

body {
  min-height: 95vh;
  padding: 1rem;
  font-size: 1rem;
  max-width: 55%;
}

h2 {
  display: inline-block;
  font-size: inherit;
  padding: 0 0.5em;
  margin-bottom: 0;
  background-color: #85c1dc;
  color: #fafafa;
}

h3 {
  display: inline-block;
  font-size: inherit;
  padding: 0 0.5em;
  margin-bottom: 0;
  background-color: #684eff;
  color: #fafafa;
}

a {
  color: var(--url-color);
  text-decoration: none;
}

.text-background {
  color: var(--text-background-color);
}

.text-secondary {
  color: var(--text-secondary-color);
}

.cursor {
  color: var(--url-color);
}

.output {
  animation: fade-in-left 1.3s forwards;
}


/* animation */

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* dynamic resizing */
@media (min-width: 600px) {
  body {
    font-size: 1.15rem;
  }
  
  h2, h3 {
    font-size: 1.25rem;
  }
}
